
<table class="table table-bordered" style="width:90%;">
    <caption>온나라 수집 프로그램</caption>
    <colgroup>
        <col style="width:20%">
        <col style="width:80%"> 
    </colgroup>
    <tr>
        <td>버전</td>
        <td>파일</td>
    </tr>
    <tr>
        <td>온나라v1.05</td>
        <td>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <p><a href="#" class="btn btn-block btn-primary" onclick="getFile('v1.05')">온나라 v1.05 다운로드</a></p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">

    function getFile(ver) {
        window.location.href = 'http://hotplace.ddns.net:10001/download/' + ver;
    }
</script>

